<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="Euclides gcd algorithm 1"/> 
	<option key="file" value="bdd.c"/> 
	<option key="unconstrained" value="true"/> 
	<option key="seed_function" value="_Z3gcdiiiiiiii"/> 
	<option key="output" value="main_registerunderscorer8"/> 
</options>
