<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="Sign Extraction"/> 
	<option key="file" value="sign_extr.c"/> 
	<option key="check_coverage" value="false"/> 
	<option key="expected_fn_coverage" value="100"/> 
	<option key="expected_bb_coverage" value="100"/> 
</options>
