<?xml version="1.0" ?>

<options>
	<option key="commutativity" value="true"/> 
	<option key="explanation" value="map_reduce_dot_product"/> 
	<option key="file" value="map_reduce_dot_product.c"/> 
	<option key="max_pointer_deref_combs" value="5"/> 
	<option key="inside_bounds" value="true"/> 
	<option key="sizes_depth" value="1,10,1"/> 
	<option key="seed_function_with_pointers" value="main_if.end"/> 
</options>
