<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="basename"/> 
	<option key="file" value="toupper.c"/> 
	<option key="with_uclibs" value="true"/> 
	<option key="uclib" value="toupper"/> 
	<option key="uclib" value="__C_ctype_toupper"/>
	<option key="forced_free_hint" value="main_register_x"/> 
</options>
