<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="Force a variable to be free"/> 
	<option key="file" value="force_free.c"/> 
	<option key="check_coverage" value="false"/> 
	<option key="expected_fn_coverage" value="100"/> 
	<option key="expected_bb_coverage" value="100"/> 
	<option key="forced_free_var" value="mem_0"/> 
</options>
