<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="jfdctint example"/> 
	<option key="file" value="jfdctint.c"/> 
	<option key="forced_free_var" value="mem_0"/>
	<option key="forced_free_var" value="mem_4"/>
	<option key="forced_free_var" value="mem_8"/>
	<option key="forced_free_var" value="mem_12"/>
	<option key="forced_free_var" value="mem_16"/>
	<option key="forced_free_var" value="mem_20"/>
	<option key="forced_free_var" value="mem_24"/>
	<option key="forced_free_var" value="mem_28"/>
	<option key="forced_free_var" value="mem_32"/>
	<option key="forced_free_var" value="mem_36"/>
	<option key="forced_free_var" value="mem_40"/>
	<option key="forced_free_var" value="mem_44"/>
	<option key="forced_free_var" value="mem_48"/>
	<option key="forced_free_var" value="mem_52"/>
	<option key="forced_free_var" value="mem_56"/>
	<option key="forced_free_var" value="mem_60"/>
	<option key="forced_free_var" value="mem_64"/>
	<option key="forced_free_var" value="mem_68"/>
	<option key="forced_free_var" value="mem_72"/>
	<option key="forced_free_var" value="mem_76"/>
	<option key="forced_free_var" value="mem_80"/>
	<option key="forced_free_var" value="mem_84"/>
	<option key="forced_free_var" value="mem_88"/>
	<option key="forced_free_var" value="mem_92"/>
	<option key="forced_free_var" value="mem_96"/>
	<option key="forced_free_var" value="mem_100"/>
	<option key="forced_free_var" value="mem_104"/>
	<option key="forced_free_var" value="mem_108"/>
	<option key="forced_free_var" value="mem_112"/>
	<option key="forced_free_var" value="mem_116"/>
	<option key="forced_free_var" value="mem_120"/>
	<option key="forced_free_var" value="mem_124"/>
	<option key="forced_free_var" value="mem_128"/>
	<option key="forced_free_var" value="mem_132"/>
	<option key="forced_free_var" value="mem_136"/>
	<option key="forced_free_var" value="mem_140"/>
	<option key="forced_free_var" value="mem_144"/>
	<option key="forced_free_var" value="mem_148"/>
	<option key="forced_free_var" value="mem_152"/>
	<option key="forced_free_var" value="mem_156"/>
	<option key="forced_free_var" value="mem_160"/>
	<option key="forced_free_var" value="mem_164"/>
	<option key="forced_free_var" value="mem_168"/>
	<option key="forced_free_var" value="mem_172"/>
	<option key="forced_free_var" value="mem_176"/>
	<option key="forced_free_var" value="mem_180"/>
	<option key="forced_free_var" value="mem_184"/>
	<option key="forced_free_var" value="mem_188"/>
	<option key="forced_free_var" value="mem_192"/>
	<option key="forced_free_var" value="mem_196"/>
	<option key="forced_free_var" value="mem_200"/>
	<option key="forced_free_var" value="mem_204"/>
	<option key="forced_free_var" value="mem_208"/>
	<option key="forced_free_var" value="mem_212"/>
	<option key="forced_free_var" value="mem_216"/>
	<option key="forced_free_var" value="mem_220"/>
	<option key="forced_free_var" value="mem_224"/>
	<option key="forced_free_var" value="mem_228"/>
	<option key="forced_free_var" value="mem_232"/>
	<option key="forced_free_var" value="mem_236"/>
	<option key="forced_free_var" value="mem_240"/>
	<option key="forced_free_var" value="mem_244"/>
	<option key="forced_free_var" value="mem_248"/>
	<option key="forced_free_var" value="mem_252"/>
</options>
