<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="iswlower"/> 
	<option key="file" value="iswlower.c"/> 
	<option key="with_uclibs" value="true"/> 
	<option key="uclib" value="iswlower"/> 
	<option key="uclib" value="iswctype"/> 
	<option key="uclib" value="__C_ctype_b"/> 
</options>
