<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="basename"/> 
	<option key="file" value="basename.c"/> 
	<option key="with_uclibs" value="true"/> 
	<option key="uclib" value="basename"/> 
	<option key="forced_free_var" value="mem_0"/> 
	<option key="forced_free_var" value="mem_1"/> 
</options>
