<?xml version="1.0" ?>

<options>
	<option key="commutativity" value="true"/> 
	<option key="explanation" value="matrix_product"/> 
	<option key="file" value="matrix_product.c"/> 
	<option key="max_pointer_deref_combs" value="5"/> 
	<option key="inside_bounds" value="true"/> 
	<option key="sizes_depth" value="1,10,1"/> 
	<option key="seed_function_with_pointers" value="main_for.cond.1.preheader.split"/> 
</options>
