<?xml version="1.0" ?>

<options>
	<option key="commutativity" value="true"/> 
	<option key="explanation" value="Simple commutativity testing"/> 
	<option key="file" value="simple.c"/> 
	<option key="max_pointer_deref_combs" value="5"/> 
	<option key="inside_bounds" value="true"/> 
	<option key="sizes_depth" value="1,10,1"/> 
</options>
