<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="check_coverage" value="false"/> 
	<option key="explanation" value="a for loop"/> 
	<option key="file" value="forloop.c"/> 
	<option key="expected_fn_coverage" value="100"/> 
	<option key="expected_bb_coverage" value="100"/> 
	<option key="max_partitions_for_ineq" value="10"/> 
</options>
