<?xml version="1.0" ?>

<options>
	<option key="test" value="true"/> 
	<option key="explanation" value="Euclides gcd algorithm 2"/> 
	<option key="file" value="euclid2.c"/> 
	<option key="unconstrained" value="true"/> 
	<option key="output" value="main_registerunderscoreretval3"/> 
	<option key="max_depth" value="10"/> 
	<option key="generate_model" value="true"/> 
</options>
